body {
	font-family: Pretendard;
	width: 100%;
	max-width: 412px;
	margin: 0 auto;
	/* border: 1px solid #000; */
}

.header {
	display: flex;
	justify-content: center;
}

.header .inner-header {
	width: 100%;
	max-width: 372px;
	/* border: 1px solid #000; */
	padding: 0 0 28px 0;
}

.header h1 {
	color: #1D1B20;
	font-size: 32px;
	font-weight: 700;
	line-height: 38px;
}

section {
	display: flex;
	justify-content: center;
	/* border: 1px solid #000; */
}

section .inner-section {
	width: 100%;
	max-width: 372px;
	/* border: 1px solid #000; */
}

section.sec1 .inner-section {
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
}

section.sec1 .inner-section .sec1-left {
	display: flex;
	align-items: center;
}

section.sec1 p.userName {
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	color: #242424;
}

section.sec1 p.company {
	font-size: 14px;
	font-weight: 500;
	line-height: 17px;
	color: #454545;
}

section.sec1 p.userId {
	font-size: 14px;
	font-weight: 500;
	line-height: 17px;
	color: #454545;
}

section.sec1 .setUserInfoImgBox {
	width: 24px;
	height: 24px;
}

section.sec1 .setUserInfoImgBox img {
	display: block;
	width: 100%;
	height: auto;
}

section.sec2 .inner-section {
	padding: 0 0 28px 0;
}

.sec-up {
	padding: 19px 0;
}

.sec-up p {
	font-size: 14px;
	font-weight: 700;
	line-height: 17px;
	color: #a2a2a2;
}

section.sec2 .sec-down {
	display: flex;
	justify-content: space-between;
}

section.sec2 .sec-down .sec-down-left p:nth-child(1),
section.sec2 .sec-down .sec-down-left p:nth-child(3) span {
	/* font-family: Inter; */
	font-size: 24px;
	font-weight: 700;
	line-height: 29px;
	color: #0095fe;
}

section.sec2 .sec-down .sec-down-left p:not(:nth-child(1)) {
	/* font-family: Inter; */
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
	color: #1d1b20;
}

section.sec2 .sec-down-right {
	display: flex;
	align-items: center;
}

section.sec2 .sec-down-right .btn-ticket {
	padding: 8px 16px;
	border-radius: 10px;
	background-color: #e6f4ff;
}

section.sec2 .sec-down-right .btn-ticket p {
	font-size: 14px;
	font-weight: 700;
	line-height: 17px;
	color: #0095FE;
}

section.sec3 .sec-down ul li,
section.sec4 .sec-down ul li {
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
	font-size: 16px;
	font-weight: 500;
	color: #1d1b20;
	line-height: 19px;
	position: relative;
}

section.sec3 .sec-down ul li::after,
section.sec4 .sec-down ul li::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #d3d3d3;
}

section.sec3 .sec-down ul li a,
section.sec4 .sec-down ul li a {
	width: 100%;
}


section.sec3 .sec-down ul li .arrow-img-box,
section.sec4 .sec-down ul li .arrow-img-box {
	width: 20px;
	height: 20px;
}

section.sec3 .sec-down ul li .arrow-img-box img,
section.sec4 .sec-down ul li .arrow-img-box img {
	display: block;
	width: 100%;
	height: auto;
}

/* 모달 전체 영역 */
.updateUserInfo-modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* background-color: rgba(0, 0, 0, 0.5); */
	z-index: 1000;
}

/* 모달 콘텐츠 */
/* 유저 정보 수정 */
.updateUserInfo-modal .modal-content {
	background-color: #fff;
	border-radius: 28px 28px 0 0;
	width: 100%;
	height: 716px;
	position: absolute;
	transition: all 0.3s ease-out;
	box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
	text-align: center;
	top: 100%;
	display: flex;
	justify-content: center;
}

.updateUserInfo-modal .modal-content .inner-modal {
	width: 100%;
	max-width: 372px;
}

/* 모달이 열린 상태 */
.updateUserInfo-modal.show {
	display: flex;
}

.updateUserInfo-modal.show .modal-content {
	top: 520px;
}

/* 닫기 버튼 */
.updateUserInfo-modal .modal-content .modal-up {
	display: flex;
	justify-content: center;
	padding: 16px 0 36px 0;
}

.updateUserInfo-modal .modal-content .modal-up span.close-btn {
	display: block;
	width: 32px;
	height: 4px;
	background-color: #79747E;
	border-radius: 100px;
}

.updateUserInfo-modal .modal-content .modal-down>p {
	text-align: start;
	font-family: Inter;
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
}

.updateUserInfo-modal .modal-content .modal-down .updateUserInfo-form {
	padding: 20px 0;
}

.updateUserInfo-modal .modal-content .modal-down .updateUserInfo-form ul {
	display: flex;
	flex-direction: column;
}

.updateUserInfo-modal .modal-content .modal-down .updateUserInfo-form ul li {
	position: relative;
	/* 부모 요소에 상대 위치를 설정 */
}

.updateUserInfo-modal .modal-content .modal-down .updateUserInfo-form ul li input {
	display: block;
	width: 100%;
	padding: 10px;
	border: 1px solid #D9D9D9;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 14px;
	outline: none;
	transition: border-color 0.2s ease;
}

.updateUserInfo-modal .modal-content .updateUserInfo-form ul li:nth-child(4) {
	padding-bottom: 16px;
}

.updateUserInfo-modal .modal-content .updateUserInfo-form ul li:nth-child(4)::after {
	content: "이름";
	position: absolute;
	top: -10px;
	left: 10px;
	font-size: 14px;
	font-weight: 500;
	line-height: 17px;
	background: #fff;
	padding: 0 5px;
	color: #1D1B20;
}

.updateUserInfo-modal .modal-content .updateUserInfo-form ul li:nth-child(5)::after {
	content: "상호명";
	position: absolute;
	top: -10px;
	left: 10px;
	font-size: 14px;
	font-weight: 500;
	line-height: 17px;
	background: #fff;
	padding: 0 5px;
	color: #1D1B20;
}


.button-group {
	display: flex;
	gap: 10px;
	margin-top: 20px;
	padding: 10px 0;
}

.button-group button {
	flex: 1;
	padding: 15px 0;
	border-radius: 8px;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	cursor: pointer;
	transition: all 0.4s ease-in-out;
}

.cancel-btn {
	background-color: #f5f5f5;
	border: 1px solid #0095FE;
	color: #0095FE;
}

.submit-btn {
	background-color: #0095FE;
	border: 1px solid #0095FE;
	color: white;
}

.cancel-btn:active {
	background-color: #eaeaea;
}

.submit-btn:active {
	background-color: #0066d6;
}

/* 결제 */
.pay-modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* background-color: rgba(0, 0, 0, 0.5); */
	z-index: 1000;
}

.pay-modal .modal-content {
	background-color: #fff;
	border-radius: 28px 28px 0 0;
	width: 100%;
	height: 716px;
	position: absolute;
	transition: all 0.3s ease-out;
	box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
	text-align: center;
	top: 100%;
	display: flex;
	justify-content: center;
}

.pay-modal .modal-content .inner-modal {
	width: 100%;
	max-width: 372px;
}

/* 모달이 열린 상태 */
/* .pay-modal.show {
	display: flex;
}

.pay-modal.show .modal-content {
	top: 290px; 
}
*/

.pay-modal {
	display: flex;
}


.pay-modal .modal-content {
	top: 290px;
}

/* 닫기 버튼 */
.pay-modal .modal-content .modal-up {
	display: flex;
	justify-content: center;
	padding: 16px 0 36px 0;
}

.pay-modal .modal-content .modal-up span.close-btn {
	display: block;
	width: 32px;
	height: 4px;
	background-color: #79747E;
	border-radius: 100px;
}

.pay-modal .modal-content .modal-down>p {
	text-align: start;
	font-family: Inter;
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	color: #1D1B20;
}

.pay-modal .modal-content .modal-down>ul {
	display: flex;
	justify-content: space-between;
	gap: 8px;
	padding: 24px 0 0 0;

}

.pay-modal .modal-content .modal-down>ul>li {
	flex: 1;
	height: 28px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 7px;
	position: relative;
}

.pay-modal .modal-content .modal-down>ul>li>p {
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	width: 100%;
	color: #D8D8D8;
}

.pay-modal .modal-content .modal-down>ul>li .tab-line {
	width: 100%;
	height: 3px;
	background-color: #fff;
	border-radius: 100px 100px 0 0;
}



.pay-modal .modal-content .modal-down>ul>li.on>p {
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	width: 100%;
	color: #1D1B20;
}

.pay-modal .modal-content .modal-down>ul>li.on .tab-line {
	width: 100%;
	height: 3px;
	background-color: #0095FE;
	border-radius: 100px 100px 0 0;

}

/* 기본적으로 숨김 */
.pay-modal .tab-content {
	display: none;
	font-size: 14px;
	color: #1D1B20;
	border-radius: 8px;
	position: absolute;
	top: 62px;
	left: 0;
	width: 200%;
}

/* on 클래스가 있을 때만 보이게 */
.pay-modal .modal-content .modal-down>ul>li.on .tab-content {
	display: block;
}

.pay-modal .tab-content.left {
	text-align: start;
}

.pay-modal .tab-content.left h3 {
	text-align: start;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	padding: 4px 0;
}

.pay-modal .tab-content.left .inner-tab-content .text-box {
	padding: 4px 0;
}

.pay-modal .tab-content.left p {
	text-align: start;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	color: #A2A2A2;
	letter-spacing: -1px;
	white-space: nowrap;
}

.pay-modal .tab-content.right {
	transform: translateX(-52.5%);
}

/* 티켓 박스 스타일 */
.pay-modal .tab-content.left .ticket-box {
	padding: 8px 0;
}

.pay-modal .ticket-box .swiper {
	width: 100%;
}

/* 티켓 슬라이드 스타일 */
.pay-modal .tab-content.left .ticket-box .swiper-slide {
	border: 1px solid #D8D8D8;
	width: 254px;
	height: 124px;
	background: #ffffff;
	border-radius: 8px;
	position: relative;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.pay-modal .tab-content.left .ticket-box .swiper-slide.on {
	border: 1px solid #0095FE;
}

/* 왼쪽 티켓 파인 부분 */
.pay-modal .tab-content.left .ticket-box .swiper-slide::before {
	content: '';
	position: absolute;
	left: -10px;
	top: 50%;
	transform: translateY(-50%);
	width: 25px;
	height: 25px;
	background-color: #fff;
	border-radius: 50%;
	box-shadow: inset -1px 0 0 #D8D8D8;
	z-index: 2;
}

/* 오른쪽 티켓 파인 부분 */
.pay-modal .tab-content.left .ticket-box .swiper-slide::after {
	content: '';
	position: absolute;
	right: -10px;
	top: 50%;
	transform: translateY(-50%);
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: inset 1px 0 0 #D8D8D8;
	z-index: 2;
}

.pay-modal .tab-content.left .ticket-box .swiper-slide.on::after {
	box-shadow: inset 1px 0 0 #0095FE;
}

.pay-modal .tab-content.left .ticket-box .swiper-slide.on::before {
	box-shadow: inset -1px 0 0 #0095FE;
}

.pay-modal .tab-content.left .ticket-box .swiper-slide img {
	content: url('../img/check_off.png');
}

.pay-modal .tab-content.left .ticket-box .swiper-slide.on img {
	content: url('../img/check_on.png');
}


/* 중간 가로 점선 */
.pay-modal .tab-content.left .ticket-box .swiper-slide .ticket-divider {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	border-top: 1px dashed #D8D8D8;
	z-index: 1;
}

/* 티켓 내용 구조 */
.pay-modal .tab-content.left .ticket-box .ticket-content {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.pay-modal .tab-content.left .ticket-box .ticket-header {
	display: flex;
	justify-content: space-between;
	padding: 8px 16px;
}

.pay-modal .tab-content.left .ticket-box .ticket-header h4 {
	display: flex;
	align-items: center;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #1D1B20;
}


.pay-modal .tab-content.left .ticket-box .ticket-body {
	padding: 8px 16px;
}

.pay-modal .tab-content.left .ticket-box .ticket-body p:nth-child(1) {
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color: #757575;
	text-decoration: line-through;
}

.pay-modal .tab-content.left .ticket-box .ticket-body p:nth-child(2) {
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #0095FE;
}

.pay-modal .tab-content.left .ticket-box .ticket-body p:nth-child(2) span {
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color: #757575;
}

.pay-modal .tab-content.left .business-info {
	display: flex;
	justify-content: space-between;
	padding: 32px 0;
}

.pay-modal .tab-content.left .pay-btn {
	padding: 12px 0;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	color: #fff;
	border-radius: 10px;
	background-color: #0095FE;
}

.pay-modal .tab-content.left .pay-btn div {
	text-align: center;
}


/* @media screen and (max-width: 412px) {
	body {
		width: 100%;
	}

	h1 {
		font-size: 1.8rem;
	}
}

@media screen and (min-width: 413px) {
	body {
		width: 412px;
	}

	h1 {
		font-size: 2.5rem;
	}
} */