body {
	font-family: Pretendard;
	width: 100%;
	max-width: 412px;
	margin: 0 auto;
	/* border: 1px solid #000; */
}

.header {
	display: flex;
	justify-content: center;
}

.header .inner-header {
	width: 100%;
	max-width: 372px;
	/* border: 1px solid #000; */
	padding: 0 0 28px 0;
}

.header h1 {
	color: #1D1B20;
	font-size: 32px;
	font-weight: 700;
	line-height: 38px;
}

section {
	display: flex;
	justify-content: center;
	/* border: 1px solid #000; */
}

section .inner-section {
	width: 100%;
	max-width: 372px;
	/* border: 1px solid #000; */
}

section.sec1 .inner-section {
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
}

section.sec1 .inner-section .sec1-left {
	display: flex;
	align-items: center;
}

section.sec1 p.userName {
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	color: #242424;
}

section.sec1 p.company {
	font-size: 14px;
	font-weight: 500;
	line-height: 17px;
	color: #454545;
}

section.sec1 p.userId {
	font-size: 14px;
	font-weight: 500;
	line-height: 17px;
	color: #454545;
}

section.sec1 .setUserInfoImgBox {
	width: 24px;
	height: 24px;
}

section.sec1 .setUserInfoImgBox img {
	display: block;
	width: 100%;
	height: auto;
}

section.sec2 .inner-section {
	padding: 0 0 28px 0;
}

.sec-up {
	padding: 19px 0;
}

.sec-up p {
	font-size: 14px;
	font-weight: 700;
	line-height: 17px;
	color: #a2a2a2;
}

section.sec2 .sec-down {
	display: flex;
	justify-content: space-between;
}

section.sec2 .sec-down .sec-down-left p:nth-child(1),
section.sec2 .sec-down .sec-down-left p:nth-child(3) span {
	/* font-family: Inter; */
	font-size: 24px;
	font-weight: 700;
	line-height: 29px;
	color: #0095fe;
}

section.sec2 .sec-down .sec-down-left p:not(:nth-child(1)) {
	/* font-family: Inter; */
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
	color: #1d1b20;
}

section.sec2 .sec-down-right {
	display: flex;
	align-items: center;
}

section.sec2 .sec-down-right .btn-ticket {
	padding: 8px 16px;
	border-radius: 10px;
	background-color: #e6f4ff;
}

section.sec2 .sec-down-right .btn-ticket p {
	font-size: 14px;
	font-weight: 700;
	line-height: 17px;
	color: #0095FE;
}

section.sec3 .sec-down ul li,
section.sec4 .sec-down ul li {
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
	font-size: 16px;
	font-weight: 500;
	color: #1d1b20;
	line-height: 19px;
	position: relative;
}

section.sec3 .sec-down ul li::after,
section.sec4 .sec-down ul li::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #d3d3d3;
}

section.sec3 .sec-down ul li a,
section.sec4 .sec-down ul li a {
	width: 100%;
}


section.sec3 .sec-down ul li .arrow-img-box,
section.sec4 .sec-down ul li .arrow-img-box {
	width: 20px;
	height: 20px;
}

section.sec3 .sec-down ul li .arrow-img-box img,
section.sec4 .sec-down ul li .arrow-img-box img {
	display: block;
	width: 100%;
	height: auto;
}

/* 모달 전체 영역 */
.updateUserInfo-modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* background-color: rgba(0, 0, 0, 0.5); */
	z-index: 1000;
}

/* 모달 콘텐츠 */
/* 유저 정보 수정 */
.updateUserInfo-modal .modal-content {
	background-color: #fff;
	border-radius: 28px 28px 0 0;
	width: 100%;
	height: 716px;
	position: absolute;
	transition: all 0.3s ease-out;
	box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
	text-align: center;
	top: 100%;
	display: flex;
	justify-content: center;
}

.updateUserInfo-modal .modal-content .inner-modal {
	width: 100%;
	max-width: 372px;
}

/* 모달이 열린 상태 */
.updateUserInfo-modal.show {
	display: flex;
}

.updateUserInfo-modal.show .modal-content {
	top: 520px;
}

/* 닫기 버튼 */
.updateUserInfo-modal .modal-content .modal-up {
	display: flex;
	justify-content: center;
	padding: 16px 0 36px 0;
}

.updateUserInfo-modal .modal-content .modal-up span.close-btn {
	display: block;
	width: 32px;
	height: 4px;
	background-color: #79747E;
	border-radius: 100px;
}

.updateUserInfo-modal .modal-content .modal-down>p {
	text-align: start;
	font-family: Inter;
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
}

.updateUserInfo-modal .modal-content .modal-down .updateUserInfo-form {
	padding: 20px 0;
}

.updateUserInfo-modal .modal-content .modal-down .updateUserInfo-form ul {
	display: flex;
	flex-direction: column;
}

.updateUserInfo-modal .modal-content .modal-down .updateUserInfo-form ul li {
	position: relative;
	/* 부모 요소에 상대 위치를 설정 */
}

.updateUserInfo-modal .modal-content .modal-down .updateUserInfo-form ul li input {
	display: block;
	width: 100%;
	padding: 10px;
	border: 1px solid #D9D9D9;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 14px;
	outline: none;
	transition: border-color 0.2s ease;
}

.updateUserInfo-modal .modal-content .updateUserInfo-form ul li:nth-child(4) {
	padding-bottom: 16px;
}

.updateUserInfo-modal .modal-content .updateUserInfo-form ul li:nth-child(4)::after {
	content: "이름";
	position: absolute;
	top: -10px;
	left: 10px;
	font-size: 14px;
	font-weight: 500;
	line-height: 17px;
	background: #fff;
	padding: 0 5px;
	color: #1D1B20;
}

.updateUserInfo-modal .modal-content .updateUserInfo-form ul li:nth-child(5)::after {
	content: "상호명";
	position: absolute;
	top: -10px;
	left: 10px;
	font-size: 14px;
	font-weight: 500;
	line-height: 17px;
	background: #fff;
	padding: 0 5px;
	color: #1D1B20;
}


.button-group {
	display: flex;
	gap: 10px;
	margin-top: 20px;
	padding: 10px 0;
}

.button-group button {
	flex: 1;
	padding: 15px 0;
	border-radius: 8px;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	cursor: pointer;
	transition: all 0.4s ease-in-out;
}

.cancel-btn {
	background-color: #f5f5f5;
	border: 1px solid #0095FE;
	color: #0095FE;
}

.submit-btn {
	background-color: #0095FE;
	border: 1px solid #0095FE;
	color: white;
}

.cancel-btn:active {
	background-color: #eaeaea;
}

.submit-btn:active {
	background-color: #0066d6;
}

/* 결제 */
.pay-modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* background-color: rgba(0, 0, 0, 0.5); */
	z-index: 1000;
}

.pay-modal .modal-content {
	background-color: #fff;
	border-radius: 28px 28px 0 0;
	width: 100%;
	height: 716px;
	position: absolute;
	transition: all 0.3s ease-out;
	box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
	text-align: center;
	top: 100%;
	display: flex;
	justify-content: center;
}

.pay-modal .modal-content .inner-modal {
	width: 100%;
	max-width: 372px;
}

/* 모달이 열린 상태 */
.pay-modal.show {
	display: flex;
}

.pay-modal.show .modal-content {
	top: 520px;
}

/* 닫기 버튼 */
.pay-modal .modal-content .modal-up {
	display: flex;
	justify-content: center;
	padding: 16px 0 36px 0;
}

.pay-modal .modal-content .modal-up span.close-btn {
	display: block;
	width: 32px;
	height: 4px;
	background-color: #79747E;
	border-radius: 100px;
}

.pay-modal .modal-content .modal-down>p {
	text-align: start;
	font-family: Inter;
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
}



/* @media screen and (max-width: 412px) {
	body {
		width: 100%;
	}

	h1 {
		font-size: 1.8rem;
	}
}

@media screen and (min-width: 413px) {
	body {
		width: 412px;
	}

	h1 {
		font-size: 2.5rem;
	}
} */