@charset "utf-8"; /* NHN Web Standard 2Team MJA 111025 */  
/* Common */ body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textare a,button,select{margin:0;padding:0} body,input,textarea,select,button,table{font-size:14px;line-height:1.25em} body.s,.s input,.s textarea,.s select,.s button,.s table{font-family:Helvetica} body{position:relative;-webkit-text-size-adjust:none} img,fieldset{border:0} ul,ol{list-style:none} em,address{font-style:normal} a{text-decoration:none} table{border-collapse:collapse} hr{display:none !important} .blind,#u_skip{visibility:hidden;overflow:hidden;position:absolute;left:999em;width:0;height:0;font-size:0;line-height:0} #content{clear:both;width:100%;} #content::after{display:block;clear:both;height:1px;margin-top:-1px;content:''}

p {word-break: keep-all;}

.tap_btn {   
	margin-top: 35px;
    margin-bottom: 20px;
    text-align: center;
     font-size:0;
}
.tap_wrap {
    text-align: center;
    display: inline-block;
    width: 31%;
}

.btn_tap1_on {
    font-size: 14px;
    color: #ffffff;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: 2px solid #066bb0;
    background-color: #066bb0;
    text-align: center;
    box-shadow: 0 4px 5px 0 #05568e inset;
    line-height: 29px;
}

.btn_tap1_off {
    font-size: 14px;
    color: #066bb0;;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: 2px solid #066bb0;
    background-color: #ffffff;
    text-align: center;
    line-height: 29px;
}

.btn_tap2_on {
    font-size: 14px;
    color: #ffffff;
    border: 2px solid #066bb0;
    background-color: #066bb0;
    box-shadow: 0 4px 5px 0 #05568e inset;
    text-align: center;
    line-height: 29px;
}

.btn_tap2_off {
    font-size: 14px;
    color: #066bb0;;
    border: 2px solid #066bb0;
    background-color: #ffffff;
    text-align: center;
    line-height: 29px;
}

.btn_tap3_on {
    font-size: 14px;
    color: #ffffff;
     border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: 2px solid #066bb0;
    background-color: #066bb0;
    text-align: center;
    box-shadow: 0 4px 5px 0 #05568e inset;
    line-height: 29px;
}

.btn_tap3_off {
    font-size: 14px;
    color: #066bb0;;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: 2px solid #066bb0;
    background-color: #ffffff;
    text-align: center;
    line-height: 29px;
}

/* reset.css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

a {
    color: inherit;
    text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
