<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyes.www.mapper.ttb.MyPageMapper">

	<select id="getMyPageInfo" resultType="com.jyes.www.vo.ttb.UserInfoOutputVo">
		SELECT
			TSAT.ID,
			TSAT.NAME as USER_NAME,
			TSBT.COMPANY,
			TSAT.AFFILIATES_CODE,
			TSUTIT.START_DATE,
			TSUTIT.EXPIRATION_DATE,
			DATEDIFF(TSUTIT.EXPIRATION_DATE, NOW()) AS REMAINING_DAYS,
			TSPTT.NAME as PAY_TYPE_NAME
		FROM TTB_SMART_ACCESS_TB TSAT
		JOIN TTB_SMART_BIZ_TB TSBT ON TSBT.SEQ = TSAT.BIZ_SEQ
		JOIN TTB_SMART_USER_TICKETS_INFO_TB TSUTIT ON TSUTIT.ACCESS_SEQ = TSAT.SEQ
		JOIN TTB_SMART_PAY_TYPE_TB TSPTT ON TSPTT.CODE = TSUTIT.PAY_TYPE_CODE
		WHERE TSAT.ID = #{id} AND TSAT.AFFILIATES_CODE = #{affiliates_code}
	</select>
	

	
</mapper>